.header-container {
  width: 100%;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f8f9fa;

  border-bottom: 1px solid #e9ecef;
  
}

.header-title {
  color: #228be6;
}

.header-nav-link {
  color: #495057;
  font-weight: 500;
}

.header-nav-link:hover {
  color: #228be6;
}

.cart-link {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  position: relative;
  color: #495057;
  font-weight: 500;
}

.cart-link:hover {
  color: #228be6;
}

.cart-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease;
}

.cart-icon:hover {
  transform: scale(1.1);
}

.cart-badge {
  position: absolute;
  top: 0;
  right: -5px;
  transform: translate(50%, -50%);
  color: white;
  width: 25px;
  background-color: #228be6;
  border: 2px solid white;
} 